html, body{
    background-color: #7BC4D3;
    font-family: 'PT Sans', sans-serif;
}
.container-left{
    position: relative;
    width: 19vw;
    float: left;
    display: inline-block;
}
.container-main{
    width: 59vw;
    display: inline-block;
    background-color: white;
    border-radius: 1em !important;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.6);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.6);
}
.container-right{
    width: 19vw;
    float: right;
    display: inline-block;
}
header{
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.align-center{
    text-align: center;
}
.lholder{
    float: left;
    display: inline-block;
    width: 35%;
}
.lholder img{
    padding-top: 10%;
    width: 27%;
    float: right;
    display: block;
}
.title-holder{
    background-color: transparent;
    display: inline-block;
    width: 65%;
}
.title{
    font-size:250%;
    padding: 5% 0 0 5%;
    text-transform: uppercase;
    margin: 0 auto;
    float: left;
}
@media screen and (max-width: 1100px) {
    .title{
        font-size:200%;
    }
}
@media screen and (max-width: 800px){
    .title{
        font-size: 135%;
    }
}
.content-layout{
    width:100%;
}

.iholder{
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 45%;
}
.iholder img{
    width: 90%;
    margin: 0 auto;
}
.description{
    background-color: #fff;
    display: inline-block;
    width:94%;
    font-size: 125%;
    padding: 0 3%;
    margin: 0 auto;
}
a{
    color: black;
    transition: color;
}
a:hover{
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    color: #000;
}
ul {
    /*margin: 0;*/
}
ul.dashed {
    list-style-type: none;
}
ul.dashed > li {
    text-indent: -5px;
}
ul.dashed > li:before {
    content: "-";
    text-indent: -5px;
}
#faq-image{
    padding-top: 300%;
}
.faq h2{
    text-align: center;
}
.faq{
    padding: 1% 3% 3%;
    background-color: transparent;
    width: 94%;
    margin: -1% auto;
    font-size: 130%;
}
ol li{
    font-weight: bold;
    font-size:110%;
}
.answer{
    font-weight: normal;
    font-size: 100%;
}
.social-links{
    bottom: 0px;
    margin:0 auto;
    width:90%;
    color: #fff;
}
.social-link {
    padding: 3vh 0vw;
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

.share-links-layout{
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
}
.Head{
    text-align: center;
    font-weight: bold;
}
.share-buttons {
    width: auto;
    max-width:39%;
    margin: 0 auto;
    position: relative;
    height: 10px;
    padding: 20px;
}
.share-buttons .social-button {
    float: left;
    padding-left: 1%;
    display: inline-block;
}
@media all and (max-width: 720px){
    .container-main{
        width: 95%;
        margin: 0 auto;
        float: none;
    }
    .description, .faq{
        float: left;
        margin: 0 auto;
        width: 94%;
    }
    .lholder img{
        padding-top: 10%;
    }
    .container-left, .container-right{
        display: none;
    }
}
